
.Header__name h1 {
    margin: 0;
}


.Header__name {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-size: large;
    background-color: rgb(122, 104, 70);
}

.Header_app_name{
    margin: 0;
}

.Header__log_part{
    font-size: smaller;
}

.Header__name a {
    color: white;
}

.Header__name a:hover {
    color: rgb(206, 206, 206);
}